//! variables colors
:root {
   --white-10: #fff,

   --gray-10: #edf2f4;
   --gray-20: #8d99ae;
   --gray-40: #2b2d42;
   --gray-50: #121214;

   --red-40: #ef233c;
   --red-50: #d90429;

   --pink-10: #e57373;


   --pink-250: rgba(155, 79, 79, 0.452);
}
